*{
    margin: auto;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header, footer
{
    text-align: center;
    font-size: small;
}

.addItem, .completedItem
{
    padding: 50px;
    margin: 20px;
    background-color: antiquewhite;
}
label{
    cursor: pointer;
    font-size: 25px;
    padding: 10px;
    margin: auto;
}
input{
    cursor: pointer;
}

button{
    position: relative;
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: aqua;
    border-radius: 10px;
    font-weight: bold;
}
.mainList
{
    background-color: aliceblue;
    padding: 20px;
    margin: 20px;
    align-items: center;
}

#inputText
{
    padding: 20px;
    margin: 20px;
    background-color: black ;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    border: none;

}

#submitButton
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: aqua;
    background-color: brown;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    border-color: white;
}
